<nav class="navbar navbar-light bg-light">
	<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style="margin-left: auto; margin-right: 0;">
		<div class="btn-group me-2" role="group" style="margin-right:0;">
			<!--<a class="btn btn-secondary" href="@mkdir" data-bs-toggle="modal" data-bs-target="#mkdir" title="Create a new folder" data-bs-placement="top" style="margin-right: 10px;">
				{{octicon "file-directory"}}
				<span class="d-none d-sm-inline">New folder</span>
			</a>-->
			<a class="btn btn-primary" href="@upload" data-bs-toggle="modal" data-bs-target="#upload" title="Upload a file" data-bs-placement="top" style="margin-right: 10px;">
				{{octicon "cloud-upload"}}
				<span class="d-none d-sm-inline">Upload</span>
			</a>
			<a class="btn btn-danger" href="@delete" data-bs-toggle="modal" data-bs-target="#delete" title="Delete selected files" data-bs-placement="top" style="margin-right: 10px;">
				{{octicon "trashcan"}}
				<span class="d-none d-sm-inline">Delete</span>
			</a>
			<a class="btn btn-warning" href="./" title="Refresh list" data-bs-placement="top">
				{{octicon "sync"}}
				<span class="d-none d-sm-inline">Refresh</span>
			</a>
		</div>
		<form action="@search" method="POST" class="input-group" style="margin-right: 10px;"> 
		    <input class="form-control" placeholder="File name" type="text" id="searchKey" required /> 
		    <button class="btn btn-success" type="submit"> 
		    	{{octicon "search"}}
	      		<span class="d-none d-sm-inline">Search</span>
	      	</button>
		</form> 
	</div>
</nav>
